* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

html,
body {
   display: flex;
   height: 100%;
   width: 100%;
   align-items: center;
   justify-content: center;
   background: #000;
}

.wrapper {
   height: 100px;
   width: 360px;
   background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
   border-radius: 10px;
   animation: animate 3s linear infinite;
}

.wrapper .display {
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 999;
   transform: translate(-50%, -50%);
   background: #1b1b1b;
   height: 85px;
   width: 345px;
   text-align: center;
}

.wrapper .display #time {
   line-height: 85px;
   background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
   font-size: 50px;
   letter-spacing: 1px;
   font-weight: 700;
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   animation: animate 3s linear infinite;
}

@keyframes animate {
   100% {
      filter: hue-rotate(360deg);
   }
}
